
<span id="year-copy">2014</span> &copy; <strong><a href="{{ projectUrl }}">{{ projectName }}</a></strong> - Crafted with <i class="fa fa-heart text-danger"></i> by <strong><a href="{{ authorUrl }}" target="_blank">{{ authorName }}</a></strong>

