<div id="login-container">
    <div id="login-logo">
        <a href="">
            <img src="images/template/uadmin_logo.png" alt="logo">
        </a>
    </div>

    <form id="login-form" action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <a href="javascript:void(0)" class="login-back"><i class="fa fa-arrow-down"></i></a>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" id="login-email" name="email" placeholder="Email.." class="form-control">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="password" id="login-password" name="password" placeholder="密码.."
                           class="form-control">
                    <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="btn-group btn-group-sm pull-right">
                <a href="#" class="btn btn-warning" data-toggle="tooltip"
                        title="忘记密码了?"><i class="fa fa-lock"></i></a>
                <button type="submit" class="btn btn-success"><i class="fa fa-arrow-right"></i> 登录</button>
            </div>
            <label id="topt-fixed-header-top" class="switch switch-success pull-left" data-toggle="tooltip" title="" data-original-title="记住我一周" aria-describedby="tooltip"><input type="checkbox" name="rememberMe" checked><span></span></label>
        </div>
    </form>
    <div id="login-buttons">
        <h4 class="text-left">第三方帐号登录</h4>
        <a id="login-btn-qq" class="btn btn-primary" href="#"><i class="fa fa-qq"></i> 腾讯QQ</a>
        <a id="login-btn-weibo" class="btn btn-info" href="#"><i class="fa fa-weibo"></i> 新浪微博</a>
    </div>
</div>
