
<form id="sidebar-search" action="page_search_results.html" method="post">
    <div class="input-group">
        <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="搜索..">
        <button><i class="fa fa-search"></i></button>
    </div>
</form>

<nav id="primary-nav">
    <ul>
        <li>
            <a href="/" class="active"><i class="fa fa-tachometer"></i>控制面板</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-gavel"></i>权限管理</a>
            <ul>
                <li>
                    <a href="/resources"><i class="fa fa-file-text"></i>权限资源管理</a>
                </li>
                <li>
                    <a href="/permission"><i class="fa fa-exclamation-triangle"></i>权限管理</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="/users"><i class="fa fa-users"></i>用户管理</a>
        </li>
        
    </ul>
</nav>


<div id="theme-options" class="text-left visible-md visible-lg">
    <a href="javascript:void(0)" class="btn btn-theme-options"><i class="fa fa-cog"></i> 主题设置</a>
    <div id="theme-options-content">
        <h5>颜色主题</h5>
        <ul class="theme-colors clearfix">
            <li class="active">
                <a href="javascript:void(0)" class="themed-background-default themed-border-default" data-theme="default" data-toggle="tooltip" title="默认"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="themed-background-deepblue themed-border-deepblue" data-theme="styles/themes/deepblue.css" data-toggle="tooltip" title="蓝色"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="themed-background-deepwood themed-border-deepwood" data-theme="styles/themes/deepwood.css" data-toggle="tooltip" title="深木"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="themed-background-deeppurple themed-border-deeppurple" data-theme="styles/themes/deeppurple.css" data-toggle="tooltip" title="紫色"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="themed-background-deepgreen themed-border-deepgreen" data-theme="styles/themes/deepgreen.css" data-toggle="tooltip" title="绿色"></a>
            </li>
        </ul>
        <h5>头部</h5>
        <label id="topt-fixed-header-top" class="switch switch-success" data-toggle="tooltip" title="固定在头部"><input type="checkbox"><span></span></label>
        <label id="topt-fixed-header-bottom" class="switch switch-success" data-toggle="tooltip" title="固定在底部"><input type="checkbox"><span></span></label>
        <label id="topt-fixed-layout" class="switch switch-success" data-toggle="tooltip" title="非全屏式(流式布局)"><input type="checkbox"><span></span></label>
    </div>
</div>
